#registercon{
	 background-color:rgb(195, 185, 15);
	 padding-bottom: 5rem;
	 min-height: 100vh;
}
.border{
	border:solid 1.4px red;
}
.borderg{
	border: solid 1.4px green;
}
.cabsh1{
	text-decoration: underline;
	font-size: 3rem;
	color: #fff;
}
#badge{
	font-size: 2rem !important;
	background-color: #337ab7;
}
.shareh2{
	font-size: 2,5rem;
	color: #fafafa;
}
hr{
	border: 2px solid #000;
	margin-top: 0px;
	margin-bottom: 5px;
}
footer{
	padding-top: 2rem;
	font-size: 1.7rem;
	padding-bottom: 2rem;
	position: relative;
}

@media (min-width:769px){
	.formdiv{
		margin-left: 20rem;
		margin-right: 20rem;
	}
	footer .pullright{
	position: absolute;
	right: 100px;
	top: 5px;
}
}
.red, .required{
	color: red;
}
input{
	margin-top: -5px;
}
@media (max-width:768px){
	footer .pullright{
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	input[type="submit"]{
		margin-top: 1rem;
	}
}